@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans lg:text-lg m-2 bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
  }
  h1 {
    @apply text-xl font-bold;
  }
  h2 {
    @apply text-lg font-bold;
  }
  input {
    @apply bg-gray-200 dark:bg-gray-800 p-2 border-2 border-gray-50 dark:border-gray-900 rounded-md outline-none focus:ring-2 focus:ring-sky-600;
  }
  input:checked ~ span {
    @apply line-through;
  }
  code {
    @apply font-mono text-base inline-block bg-gray-200 dark:bg-gray-800 px-1 rounded-md;
  }
  a {
    @apply underline text-sky-700 dark:text-sky-600;
  }
  blockquote {
    @apply p-1 pl-5 my-4 rounded-md text-gray-600 dark:text-gray-400 relative;
  }
  blockquote::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: rgb(71, 85, 105);
    top: 10%;
    left: 9px;
    transform: translateY(-5%);
  }
  .dark blockquote::before {
    background-color: rgb(100, 116, 139);
  }
}

@layer components {
  .btn-main {
    @apply font-medium p-2 text-gray-50 border-2 border-gray-50 dark:border-gray-900 rounded-md outline-none focus:ring-2 hover:ring-2;
  }
  .styled-ol {
    @apply list-decimal list-inside ml-4;
  }
  .styled-ul {
    @apply list-disc list-inside ml-4;
  }
  .form-checkbox {
    @apply rounded w-5 h-5 mr-2 bg-gray-300 dark:bg-gray-800 border-none focus:bg-gray-200 dark:focus:bg-gray-700 text-sky-600 focus:ring-2 focus:ring-offset-2 focus:ring-sky-600 cursor-pointer;
  }
  .btn-secondary {
    @apply font-medium text-base md:text-lg p-2 bg-gray-300 text-gray-900 dark:bg-gray-700 dark:text-gray-50 border-2 border-gray-50 dark:border-gray-900 rounded-md outline-none focus:ring-2 hover:ring-2 ring-sky-600;
  }
  .btn-icon {
    @apply p-2 bg-gray-50 dark:bg-gray-900;
  }
  .toggle-switch {
    @apply w-12 h-6 inline-block relative;
  }
  .toggle-switch input {
    @apply w-0 h-0 opacity-0;
  }
  .slider {
    @apply bg-gray-300 absolute top-0 right-0 bottom-0 left-0  transition-colors duration-500 cursor-pointer;
    border-radius: 35px;
  }
  .slider::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    bottom: 2px;
    left: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  .toggle-switch input:checked + .slider {
    @apply bg-sky-600;
  }
  .toggle-switch input:checked + .slider::before {
    transform: translateX(24px);
  }
  .custom-select:focus > .drop-down-icon {
    @apply transform rotate-90;
  }
}
